html, body { 
    font-family: Intel, Helvetica, sans-serif;
}

td {
    vertical-align: top;
    border-top: 1px solid lightgray;
}

table { 
    border-collapse: collapse; 
    width: 100%; 
}

h4 { 
    margin: 0; 
}

.keys {
    white-space: nowrap;
}

kbd {
    font-family: monospace;
}

@media screen {
    kbd {
        background-color: #eeeeee;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 2px;
    }

    .keys {
        margin: 10px 0;
    }        
}
